$clr--green: hsl(157, 74, 62);
$clr--green-hover: hsl(157, 100, 85);
$clr--dark-blue-gray: hsl(225, 26, 23);
$clr--dark: hsl(224, 35, 11);
$clr--light-blue-gray: hsl(225, 21, 45);
$clr--silver: hsl(225, 40, 83);
$clr--white: hsl(0, 0, 100);
$clr--error: hsl(0, 96, 61);
